127.0.0.1       localhost
{{ controller01_eth0 }} {{ controller01 }}
{{ controller02_eth0 }} {{ controller02 }}
{{ controller03_eth0 }} {{ controller03 }}
{{ compute01_eth0 }} {{ compute01 }}
{{ internal_vip }} {{ internal_vip_fqdn }}
{{ public_vip }} {{ public_vip_fqdn }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
